.digit--clicked1 {
  color: #808edf;
}

.digit--clicked2 {
  color: #808edf;
}

.digit--clicked3 {
  color: #808edf;
}

.digit--clicked4 {
  color: #808edf;
}

.digit--clicked5 {
  color: #808edf;
}

.digit--clicked6 {
  color: #808edf;
}

.digit--clicked7 {
  color: #808edf;
}

.digit--clicked8 {
  color: #808edf;
}

.digit--clicked9 {
  color: #808edf;
}

.digit--clicked0 {
  color: #808edf;
}

