.loading_screen {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading_screen__text {
  margin: 2vh;
}