.home__background {
  /* background-color: #8EC5FC;
  background-image: linear-gradient(329deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%); */
  height: 100vh;
  background-size: cover;
}

.home__layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__button {
  margin: 15px;
  /* background-color: #68b3af; */
  border-radius: 20px;
}

.home__button--bot {
  margin-bottom: 100px;
}