.dashboard {
  overflow: scroll;
  max-height: 90vh;
}

.history {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history h2 {
  width: 90%; 
  text-align: center; 
  border-bottom: 1px solid rgb(128, 142, 223, 0.4); 
  line-height: 0.1em;
  margin: 10px 0 20px; 
}

.history h2 span { 
  background:#fff; 
  padding:0 10px; 
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  color: #808edf;
}

.history__cards {
  display: flex;
  flex-direction: column;
  margin: 5px 5vw;
  width: 90%;
}

.history__cards--none {
  width: 60%;
  text-align: center;
  background-color: rgb(235, 235, 235)!important;
}