.room_entry_page {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.room_entry_page {
  display: flex;
  flex-direction: column;
}

.room_entry_page h1 {
  margin-left: 15vw;
  font-size: 2em;
  font-weight: 100;
}

.room_header {
  display: flex;
  background-color: #3963C7;
  color: white;
  box-shadow: 0px 2px 5px 2px rgb(0, 0, 0, 0.4);
  justify-content: center;
  align-items: flex-end;
  z-index: 10;
  min-height: 9vh;
}

.room_header__title {
  margin: 10px;
  font-weight: normal;
}

.input_container {
  display: flex;
  flex-direction: column;
  height: 79vh;
  /* margin: 5vh 15vw; */
}

.input_container__input {
  height: 50px;
  text-align: center;
  font-size: 5vh;
  margin-bottom: 4vh;
  border: none;
  border-bottom: 1px #4caf50 solid;
  letter-spacing: 5vw;
  text-align: left;
  align-self: center;
  width: 80%;
  color: #808edf;
}

.input_container__input:focus {
  outline: none;
}
.input_container__input::placeholder {
  font-size: 3vh;
  letter-spacing: 0px;
  text-align: center;
}

.entry_button {
  width: auto;
}

.entry_footer {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  bottom: 95px;
  width: 100vw;
  z-index: 5;
  /* height: 75px; */
}

.entry_footer__switch {
  background-color: #3963C7;
  border: none;
  color: white;
  border-radius: 4px;
  outline: none;
  right: 10vw;
}

.numpad__wrapper {
  display: flex;
  flex-wrap: wrap;
  /* color: #808edf; */
  flex: 1 0 75%;
}

.numpad__wrapper .digit {
  margin-top: 1.2vh;
  margin-bottom: 1.2vh;
  flex: 1 0 33%;
  font-size: 5vh;
  text-align: center;
  font-weight: 100;
  /* border: .1px solid red; */
}

.numpad__wrapper .redirect {
  flex: 1 0 33%;
  color: #4caf50;
  background-color: white;
  box-shadow: none;
  transform: scale(1.5);
  width: 100%;
}

.backspace {
  /* display: flex;
  justify-content: center;
  align-self: center;
  color: #808edf !important; */
  /* border: 1px solid red; */
}

/* .numpad__wrapper .backspace {
  flex: 1 0 33%;
  color: black;
  background-color: white;
  box-shadow: none;
} */

#numpad__sideWrapper .MuiSvgIcon-root {
  transform: scale(1.25);
  opacity: .6;
}

.qrSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* box-shadow: rgba(0,0,0,.1) 0px 2px 5px 3px; */
  flex-direction: column;
  height: 100%;
  z-index: 7;
}

#qrSwitch__head {
  margin-top: 1vh;
}

#qrSwitch__switch {
  margin-top: 1vh;
}

.qrSwitch .MuiSwitch-thumb {
  background-color: #808edf !important;
}

.qrSwitch .MuiSwitch-track {
  background-color: #808edf !important;
}

.code__input {
  border-bottom-color: #808edf;
}

.code__input--full {
  border-bottom-color: red !important;
}

#input_container__body {
  min-height: 35vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#room_icon {
  align-content: center;
}

#section__wrapper {
  background-color: #edf1f4;
  display: flex;
  /* border: red solid 1px; */
  margin-top: 1vh;
}

#section__wrapper > * {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#numpad__sideWrapper {
  flex: 1 0 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-evenly;
}

#numpad__sideWrapper .digit {
  text-align: center;
}

#numpad__sideWrapper > *{
  flex: 1;
  flex-direction: row;
  font-size: 5vh;
  flex-shrink: 1;
  margin-top: 1.2vh;
  margin-bottom: 1.2vh;
  font-weight: 100;
}

.firstline {
  margin-top: 5vh;
}

.body--qrOpen {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  min-height: 100vh;
  background-color: rgba(0,0,0,.6);
}

.qrOverlay {
  z-index: 4;
  background-color: white;
  min-height: 30vh;
}

.room_entry_page .footerWrapper {
  position: fixed;
  bottom: 7vh;
}