.camera {
  min-height: 100vh;
  max-height: 100vh;
  background-color: black;
}

.camera__preview {
  min-height: 99vh;
  max-height: 100vh;
  overflow: hidden;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0px;
  width: 100vw;
  height: 10vh;
}

.header__take_another {
  color: white;
  transform: scale(1.4);
  padding-left: 5vw;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222)
}