.linebreak {
  border-bottom: 1px solid	#D8D8D8;
  min-height:1px;
  min-width: 75vw;
}

.redirect {
  margin-bottom: 3em
}

.room-invite {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.room-invite h1 {
  font-size: 3em;
  margin-left: 7vh;
}

.room-invite h2 {
  margin: 0px;
  margin-inline-end: auto;
  margin-left: 7vh;
}

.qr-code {
  margin-top: 7vh;
  margin-bottom: 2em;
  padding: 5vw;
  box-shadow: rgba(0,0,0,.1) 0px 2px 5px 3px;
}

.qr-code canvas {
  width: 190px !important;
  height: 190px !important;
}


