.linebreak {
  border-bottom: 1px solid	#D8D8D8;
  min-height:1px;
  min-width: 75vw;
}

.room-invite {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin); */
  color: black;
}

.room-invite_header {
  font-family: 'Raleway', 'sans-serif';
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
}

.room-invite h1 {
  box-shadow: none;
}

.room-invite h2 {
  padding-left: 7.25vw;
  padding-bottom: 12px;
  margin-top: 0;
  font-weight: normal;
}

.qr-code_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code {
  margin-top: 7vh;
  margin-bottom: 2em;
  padding: 5vw;
  box-shadow: rgba(0,0,0,.1) 0px 2px 5px 3px;
}

.qr-code canvas {
  width: 230px !important;
  height: 230px !important;
}
