.redirect {
  background-color: #808edf;
  border: none;
  padding: 0.75em; 
  color: white;
  font-weight: bold;
  width: 70vw;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,.2) 0px 2px 5px 2px;
  font-family: 'Raleway', 'sans-serif';
  font-size: 18px;
}
